{
  "extends": [
    'mic'
  ],
  "rules": {
    "import/no-commonjs": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "no-continue": 0,
    "no-mixed-operators": 0,
    "no-param-reassign": 0,
    "no-loop-func": 0,
    "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"]
  }
}
